<section class="container" *ngIf="products?.length > 0">
    <div class="promotion">
      <label for="promo-code">Have A Promo Code?</label>
      <input 
        type="text" 
        [(ngModel)]="promoCode"
        (keyup.enter)="applyPromoCode()"
      /> 
      <button type="button"></button>
    </div>

    <div class="summary">
      <ul>
        <li>Subtotal <span>{{ summary.subTotals | currency: "VND" }}</span></li>
        <li>Sale off <span>{{ summary.subTotals * summary.saleOff/100 | currency: "VND" }}</span></li>
        <li>Tax <span>{{ summary.vat | currency: "VND" }}</span></li>
        <li class="total">Total <span>{{ summary.total | currency: "VND" }}</span></li>
      </ul>
    </div>

    <div class="checkout">
      <button type="button">Check Out</button>
    </div>
  </section>