<section class="container">
    <div class="promotion">
      <label for="promo-code">Have A Promo Code?</label>
      <input 
        type="text" 
        [(ngModel)]="promoCode"
        (keyup.enter)="applyPromoCode()"
      /> 
      <button type="button"></button>
    </div>

    <div class="summary">
      <ul>
        <li>Subtotal <span>{{ subTotals | currency: "VND" }}</span></li>
        <li>Sale off <span>{{ subTotals*saleOff/100 | currency: "VND" }}</span></li>
        <li>Tax <span>{{ vat | currency: "VND" }}</span></li>
        <li class="total">Total <span>{{ total | currency: "VND" }}</span></li>
      </ul>
    </div>

    <div class="checkout">
      <button type="button">Check Out</button>
    </div>
  </section>